body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul, li {
  margin:0;
  padding: 8px 10px 8px 0;
  position: relative;
  font-size: 24px;
}

ul {
  margin:padding:0;;
  list-style:none;
}

ul li p {
  display:inline;
}

span.completed {
  text-decoration:line-through;
  color:#777;
}






h1 {
    font-size: 36px;
    font-weight: bold;
    padding: 0 0 10px 0;
}

form input[type="text"] {
    width: 466px;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}



#todo-list li:last-child {
    border-bottom: none;
}

